/* белый #FFFFFF */
/* цвет основного текста #757575 */
/* вторичный цвет текста #212121 */
/* дополнительный цвет текста rgba(255, 255, 255, 0.6) */
/* цвет логотипа #000000 */
/* цвет акцента #2196F3 */
/* первичный цвет фона #E5E5E5*/
/* вторичный ывет фона #F5F4FA */

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
}
